<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="layout" content="main">
<title><g:message code="login.tab.title" /></title>
</head>
<body id="body">
	<h1>
		Player Index
	</h1>
</body>
</html>